html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#quarto-content {
  height: 100%; /* subtract pinned navbar height */
}

main#quarto-document-content {
  height: 100%;
  overflow: hidden;
}